{% extends "reservations/base.html" %}

{% load bootstrap5 %}

{% block title %}Kurzy{% endblock %}

{% block content %}

<div class="container">

    
    {% for course in courses %}
        <div class="row">
            <div class="col mt-4">
                <a href="{% url 'reservations:course' course.id %}">{{ course.name }}</a>
            {% if course.description %}
                <br>
                <span class="fw-light">{{ course.description }}</span>
            {% endif %}
            </div>
        </div>
    {% endfor %}

</div> {% comment %} end of div container {% endcomment %}

{% endblock %}
