{% extends "reservations/base.html" %}

{% load bootstrap5 %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}

    <div clas="row">
        <div clas="col">
            <p class="fw-light">{{ course.description }}</p>
            <div class="btn-group">
                <a href="{% url 'reservations:all' %}" class="btn btn-primary">Všechny kurzy</a>
                <a href="{% url 'reservations:course-calendar' course.id %}" class="btn btn-secondary">Kalendář</a>
            </div>
        </div>
    </div>


    <div class="row">
        {% for lesson in course.lesson_set.all %}
            <div class="col-xl-4 col-lg-6 col-md-12">
                <div class="card mt-3">
                    <div class="card-header">
                        <b>{{ lesson.trainer }}, {{ lesson.place }}</b><br/>
                        <b>Kdy:</b> {{ lesson.when_datetime|date:"l"}} {{ lesson.when_datetime}}<br/>
                        <b>Kapacita:</b> <b>{{lesson.free_slots}}</b> volných z celkových <b>{{ lesson.capacity }}</b> míst
                        {% if lesson.description %}
                            <br/><b>Poznámka:</b> {{lesson.description}}
                        {% endif %}

                    </div>
                    <ul class="list-group list-group-flush">
                    {% for participant in lesson.participant_set.all %}
                        {% if forloop.counter > lesson.capacity %}
                            <li class="list-group-item" style="background-color: #FFCCCB;">
                        {% else %}
                            <li class="list-group-item">
                        {% endif %}
                            {{ participant.name }}{% if participant.phone_number %}, {{ participant.phone_number|cut:" "|slice:":-6" }}****{{ participant.phone_number|cut:" "|slice:"-2:" }}{% endif %}{% if participant.note %}, {{ participant.note }}{% endif %}
                        </li>
                    {% empty %}
                        <li class="list-group-item fw-light">Zatím je tu prázdno</li>
                    {% endfor %}
                    <li class="list-group-item bg-light"><a class="btn btn-primary" href="{% url 'reservations:lesson' lesson.pk %}">Přihlásit</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
