{% extends "reservations/base.html" %}

{% load bootstrap5 %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}

{% if course.description %}<p>{{ course.description }}</p>{% endif %}
<a href="{% url 'course:all' %}">Zpet na vsechny kurzy</a>

{% for year_month, data in lessons.items %}
    <h4>{{ year_month.0 }} / {{ year_month.1}}</h4>
    <table class="border table">
    {% for week in data %}
        <tr>
            {% for day, lessons_list in week.items %}
                <td class="border" style="min-width: 120px;">
                    {% if day < 100 %}
                        <span class="badge rounded-pill bg-secondary">{{ day }}.&nbsp;{{ year_month.1 }}.</span>
                    {% else %}
                        <span>&nbsp;</span>
                    {% endif %}
                    {% for lesson in lessons_list %}
                        <p>
                            <a href="{% url 'course:lesson' lesson.pk %}">{{ lesson.when_datetime|date:'H:i' }}</a>
                        </p>
                    {% endfor %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% endfor %}

{% endblock %}
