{% extends "reservations/base.html" %}

{% load bootstrap5 %}

{% block title %}{{ course.name }}{% endblock %}

{% block content %}

{% if course.description %}<p>{{ course.description }}</p>{% endif %}
<a href="{% url 'reservations:all' %}">Zpet na vsechny kurzy</a>

{% for year_month, data in lessons.items %}
    <h4>{{ year_month.0 }} / {{ year_month.1}}</h4>
    <table class="border table">
        <thead>
            <tr>
                {% with week="Pondělí Úterý Středa Čtvrtek Pátek Sobota Neděle" %}
                    {% for day in week.split %}
                        <th class="border text-center table-light" scope="col">{{ day }}</th>
                    {% endfor %}
                {% endwith %}
            </tr>
        </thead>
        <tbody>
            {% for week in data %}
                <tr>
                    {% for day, lessons_list in week.items %}
                        {% if forloop.counter|divisibleby:6 or forloop.counter|divisibleby:7 %}
                            <td class="border table-light" style="width: 120px;">
                        {% else %}
                            <td class="border" style="width: 120px;">
                        {% endif %}
                            {% if day < 100 %}
                                <div class="text-center">{{ day }}.&nbsp;{{ year_month.1 }}.</div>
                            {% else %}
                                <div>&nbsp;</div>
                            {% endif %}
                            {% for lesson in lessons_list %}
                                <div>
                                    <a href="{% url 'reservations:lesson' lesson.pk %}">{{ lesson.when_datetime|date:'H:i' }} - {{lesson.place}}, {{lesson.free_slots}}/{{lesson.capacity}}</a>
                                </div>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}

{% endblock %}
