<div class="card card-body">
    <h5 class="card-title">{{ lesson.trainer }}, {{ lesson.place }}</h5>
    <div class="card-text">
        <ul>
            <li><strong>Kdy: </strong>{{ lesson.when_datetime }}</li>
            <li><strong>Volných: </strong>{{ lesson.free_slots }} z {{ lesson.capacity }}</li>
            <li><strong>Poznámka: </strong>{{ lesson.description }}</li>
        </ul>
        {% if show_button %}
            <a class="btn btn-primary" href="{% url 'reservations:lesson' lesson.pk %}">Přihlásit</a>
        {% endif %}
    </div>
</div>