{% extends "reservations/base.html" %}

{% load bootstrap5 %}

{% block title %}{{ lesson.course.name }}{% endblock %}

{% block content %}


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ lesson.place }}</h5>
        <div class="card-text">
            <ul>
                <li><strong>Kdy: </strong>{{ lesson.when_datetime }}</li>
                <li><strong>Trener: </strong>{{ lesson.trainer }}</li>
                <li><strong>Kapacita: </strong>{{ lesson.capacity }}</li>
                <li><strong>Poznamka: </strong>{{ lesson.description }}</li>
            </ul>
        </div>
    </div>
</div>

<a href="{% url 'course:detail' lesson.course.pk %}">Zpet na {{ lesson.course.name }}</a>

{% endblock %}
